{% load tagging_tags comments %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}">
  <div class="entry-header">
    <h3 class="entry-title">
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h3>
  </div>

  <div class="entry-body">
    {% if object.image %}
    <div class="entry-image">
      <p>
        {% if continue_reading %}
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {% endif %}
          <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
        {% if continue_reading %}
        </a>
        {% endif %}
      </p>
    </div>
    {% endif %}
    <div class="entry-content">
        {{ object_content }}
    </div>
    
    <p class="continue-reading">
        <abbr class="published" title="{{ object.creation_date|date:"c" }}Z">{{ object.creation_date|date:"j.n.Y" }}</abbr>
        {% if continue_reading %}
        <a href="{{ object.get_absolute_url }}" rel="bookmark" style="text-align:right;">Читать дальше</a>
        {% endif %}
    </p>

    <!--  {{ object.short_url }} -->
  </div>

</div>
