{% load zinnia_tags i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <body >
    <div class="container">
      <div id="header">
        <ul class="top-navigation">
          <li>
            <a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
              {% trans "RSS Feed" %}
            </a>
          </li>
        </ul>
        <h1>
          <a href="{% url zinnia_entry_archive_index %}" title="Zinnia's Blog" rel="home">
            Zinnia's Blog
          </a>
        </h1>
      </div>
      <div id="content" class="hfeed">
        {% block content %}
        {% endblock %}
      </div>


    </div>
  </body>
</html>
