{% extends "base.html" %}
{% load i18n zinnia_tags %}

{% block title %}Последние записи {% if category %}| {% trans "Category" %} {{ category }}{% endif %}{% if tag %}| {% trans "Tag" %} {{ tag }}{% endif %}{% if author %}| {% trans "Author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block content %}

{% for object in object_list %}
  {% with object_content=object.html_content|truncatewords_html:100|safe continue_reading=1 %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
{% empty %}
  <p class="notice">Записей еще нет</p>
{% endfor %}

{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock %}

