@media all
{
  .hlist {
    /* containing floats in IE */
    width:100%;
    overflow:hidden;
    /* containing floats in all other browsers */
    float:left;
    display:inline;
    /* Bugfix:IE - collapsing horizontal margins */
    position:relative;
    /* Repeat the main color from the image */
    line-height:0;
  }

  .hlist ul {
    margin:0;
    padding:0;
    /* Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    /* Left margin of the first button  */
  }

  .hlist ul li {
    /* Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    font-size:1.0em;
    line-height:2em;
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .hlist ul li a,
  .hlist ul li strong {
    background:transparent;
    color:#eee;
    display:block;
    font-size:1em;
    margin:0;
    padding: 6px 12px;
    text-decoration:underline;
    width:auto;
  }

  .hlist ul li strong,
  .hlist ul li a:focus,
  .hlist ul li a:hover,
  .hlist ul li a:active  { background:#eee; color:#333; text-decoration:none; outline: 0 none; }

  .hlist ul li.active {
    /* Repeat the main color from the image */
    background:#272727 url("images/shiny_buttons/background_active.png") repeat-x center right;
    border-left:1px #444 solid;
    border-right:1px #888 solid;
  }

  .hlist ul li.active strong,
  .hlist ul li.active a:focus,
  .hlist ul li.active a:hover,
  .hlist ul li.active a:active { background:transparent; color:#fff; text-decoration:none; }
}
