{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% load loginza_widget %}
<html>
<head>
    <title>Гражданин Наблюдатель | {% page_attribute page_title %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Система постоянного общественного сопровождения процесса организации и проведения избирательных кампаний в государстве. {% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>

    <link href="{{ MEDIA_URL }}css/layout.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]>
    <link href="{{ MEDIA_URL }}css/patches/patch_layout.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    {% render_block "css" %}
    <!--link href="{{ MEDIA_URL }}zinnia/css/screen.css" type="text/css" rel="stylesheet" /-->
    <link href="{{ MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?47"></script>
</head>
<body>
    <div class="page_margins">
        <div id="header">
            <div id="topnav">
                {% if user.is_authenticated %} 
                    <a href="{% url profile %}" class="header_link">{{ user }}</a> |
                    <a href="/users/logout/?next=%2F" class="header_link">Выйти?</a>
                {% else %}
                    {% loginza_button providers_set="google,vkontakte,facebook,livejournal,yandex,mailru,rambler,twitter,odnoklassniki" %}
                {% endif %}
            </div>

            <a href="/" id="logo"><img src="{{ MEDIA_URL }}images/logo.jpg" alt="Гражданин Наблюдатель"/></a>
            <h1><a href="/" id="title_link">Гражданин наблюдатель</a></h1>
            <div style="margin-left: 260; font-size: 0.9em; color: #FFFFFF;">
                Система постоянного общественного сопровождения процесса организации и проведения избирательных кампаний в государстве
            </div>

        </div>

        <div id="nav">
            <div class="hlist">
                <ul>
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="/about/">О проекте</a></li>
                    <li><a href="/">Рабочие группы</a></li>
                    <li><a href="/">Проекты</a></li>
                    <li><a href="/">Наши наблюдения</a></li>
                    <li><a href="/results/">Итоги выборов</a></li>
                    <li><a href="/library/">Библиотечка наблюдателя</a></li>
                    <li><a href="https://forum.nabludatel.org/">Форум</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <!-- The left column -->
            <div id="col1">
                <div id="col1_content" class="clearfix">
                    <h3 class="side_menu_header">Для наблюдателей</h3>
                    <ul id="left_menu_ul">
                        <li><a href="">Кто такой наблюдатель</a></li>
                        <li><a href="">Что должен делать наблюдатель</a></li>
                        <li><a href="">Зачем наблюдать за выборами</a></li>
                        <li><a href="">Как стать наблюдателем</a></li>
                        <li><a href="">Куда идут результаты</a></li>
                        <li><a href="">Записаться в наблюдатели</a></li>
                        <li><a href="/library/">Библиотечка наблюдателя</a></li>
                    </ul>


                    <div id="cse-search-form" style="width: 100%;">Loading</div>
                    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
                    <script type="text/javascript"> 
                    google.load('search', '1', {language : 'ru'});
                    google.setOnLoadCallback(function() {
                        var customSearchControl = new google.search.CustomSearchControl(
                        '007084942556480968662:efy46j0mxa8');

                        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                        var options = new google.search.DrawOptions();
                        options.enableSearchboxOnly("http://127.0.0.1:8000/search_results");
                        customSearchControl.draw('cse-search-form', options);
                    }, true);
                    </script>
                    <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />


                    <h3 class="side_menu_header">Наши друзья</h3>
 
                    <div style="text-align: center;">
                        <a href="http://nabludatel_org.livejournal.com">
                            <img width="204" border="5" height="50" alt="Гражданин наблюдатель в Живом Журнале"
                                title="ЖЖ Гражданин наблюдатель" src="http://pics.livejournal.com/djatel_2008/pic/0000e6ds">
                        </a>

                        <a href="http://www.kartanarusheniy.ru/">
                            <img width="180" border="0" height="300" alt="КАРТА НАРУШЕНИЙ НА ВЫБОРАХ"
                            title="Карта нарушений на выборах. Совместный проект ¨Газеты.Ru¨ и Ассоциации ¨Голос¨ "
                            src="http://files.kartanarusheniy.ru/adv/240-400.gif">
                        </a>

                        <a href="http://www.golos.org">
                            <img width="200" border="0" height="200" alt="Ассоциация ¨Голос¨" title="Ассоциация ¨Голос¨"
                                src="http://a3.sphotos.ak.fbcdn.net/hphotos-ak-ash2/150348_168941373137020_168939573137200_387318_8024140_n.jpg">
                        </a>

                    </div>
                </div>
            </div>

            <!-- The right column -->
            <div id="col2">
                <div id="col2_content" class="clearfix">

                    <h3 class="side_menu_header">Сбор средств</h3>
                    <!-- Виджет сбора пожертвований -->
                    <form method="post" action="https://money.yandex.ru/charity.xml" style="margin: 0; padding: 0;">
                        <input type="hidden" value="410011201436323" name="to">
                        <input type="hidden" value="" name="Company">
                        <input type="hidden" value="" name="CompanyLink">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr><td>
                                <div style="background: url(https://img.yandex.net/i/li-uncolorer-rt.gif) no-repeat right top #FFFFFF;">
                                <div style="background: url(https://img.yandex.net/i/li-uncolorer-rb.gif) no-repeat right bottom;">
                                <div style="background: url(https://img.yandex.net/i/li-uncolorer-lb.gif) no-repeat left bottom;">
                                <div style="background: url(https://img.yandex.net/i/li-uncolorer-lt.gif) no-repeat left top; margin-right: 10px; padding: 10px 0 0 10px;">

                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tr><td>
                                            <input type="submit" style="margin-right: 5px;" value="Отправить">
                                        </td></tr>
                                        <tr><td>
                                            <input type="text" style="margin-right: 5px;" size="4" value="100" name="CompanySum" id="CompanySum">
                                            <span style="font: 70% Verdana, Arial, Geneva CY, Sans-Serif;"><strong>рублей</strong></span>
                                        </td><td width="90" valign="bottom" rowspan="3">
                                            <a href="http://money.yandex.ru/">
                                            <img width="90" border="0" height="39" style="margin-left: 5px;" src="https://img.yandex.net/i/ym-logo.gif"></a>
                                        </td></tr>
                                        <tr>
                                            <td nowrap="nowrap" style="font: 70% Verdana, Arial, Geneva CY, Sans-Serif;">на счет <a style="color: #006600; font-weight: bold;" href="http://yaudit.org/yaudit/410011201436323">410011201436323</a>&nbsp;<span style="color: #666666;"></span></td></tr>
                                        <tr><td>
                                            <img width="1" height="10" src="https://img.yandex.net/i/x.gif">
                                        </td></tr>
                                    </table>

                                </div></div></div></div>
                            </td></tr>
                        </table>
                    </form>
                
                
                
                    <div>
                        <h3 class="side_menu_header">Информация о итогах</h3>
                        Данные по протоколам наших наблюдателей
                    </div>

                    <div style="text-align: center;">
                        <h3 class="side_menu_header">Мы в соц. сетях</h3>

                        <div class="content">
                            <a href="http://twitter.com/nabludatel_org" class="twitter-follow-button" data-lang="ru" data-show-count="false">Читать @nabludatel_org</a>
                            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                        </div>

                        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fnabludatel.org&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>

                        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?47"></script>
                        <!-- VK Widget -->
                        <div id="vk_groups"></div>
                        <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 1, width: "270", height: "290"}, 28505189);
                        </script>
                    </div>
                </div>
            </div>

            <!-- The middle column -->
            <div id="col3">
                <div id="col3_content" class="clearfix">
                    <!--{% show_breadcrumb %}-->
                    {% block content %}{% endblock %}
                </div>
                <!-- IE Column Clearing -->
                <div id="ie_clearing"> &#160; </div>
            </div>
        </div>

    </div>

    {% render_block "js" %}
    <script type="text/javascript" src="{{ MEDIA_URL }}libs/jquery/jquery.js"></script>
    <!--script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script-->

</body>
</html>
