{% load cms_tags sekizai_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Гражданин наблюдатель | {% block title %}{% page_attribute page_title %}{% endblock %}</title>
        <meta name="description" content="Система постоянного общественного сопровождения процесса организации и проведения избирательных кампаний в государстве. {% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}"/>

        <!-- Framework CSS -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen, projection">
        <!--link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /-->
        <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?47"></script>
        {% render_block "css" %}

        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28655122-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    </head>
    <body>
    <div id="stripeTails">
        <div id="bgContainer">
            <div class="container">

                <!-- #header -->      
                <div id="header" class="span-24 last">
                    <div class="span-6">
                        <a id="logo" href="/">
                            <img alt="Гражданин Наблюдатель" src="{{ MEDIA_URL }}images/logo.jpg">
                        </a>
                    </div>
                    <div id="headerRight" class="span-18 last">
                        <div id="headrSocial">
                            <p>Мы в соцсетях:</p>
                            <a href="https://www.facebook.com/nabludatel.org"><img src="{{ MEDIA_URL }}images/facebook.png" /></a>
                            <a href="http://vk.com/nabludatel_org"><img src="{{ MEDIA_URL }}images/vkontakte.png" /></a>
                            <a href="https://twitter.com/#!/nabludatel_org"><img src="{{ MEDIA_URL }}images/twitter.png" /></a>
                            <a href="http://nabludatel-org.livejournal.com/"><img src="{{ MEDIA_URL }}images/livejournal.png" /></a>
                        </div>
                        <!--div id="sluaghghairm">
                            Проект по наблюдению за выборами
                        </div-->
                    </div><!-- /#headerRight -->
                </div><!-- /#header -->  

                <!-- #menu --> 
                <div class="span-24 last">
                    <ul id="menu">
                        <li>
                            <a href="/">Главная</a>
                            <!--<ul id="help">
                                <li>
                                    <img class="corner_inset_left" alt="" src="{{ MEDIA_URL }}images/corner_inset_left.png"/>
                                    <a href="#">Страница 1</a>
                                    <img class="corner_inset_right" alt="" src="{{ MEDIA_URL }}images/corner_inset_right.png"/>
                                </li>
                                <li><a href="#">Страница 2</a></li>
                                <li><a href="#">Страница с&nbsp;длинным предлинным названием 3</a></li>
                                <li><a href="#">Страница 4</a></li>
                                <li class="last">
                                    <img class="corner_left" alt="" src="{{ MEDIA_URL }}images/corner_left.png"/>
                                    <img class="middle" alt="" src="{{ MEDIA_URL }}images/dot_blue.png"/>
                                    <img class="corner_right" alt="" src="{{ MEDIA_URL }}images/corner_right.png"/>
                                </li>
                            </ul>-->
                        </li>
                        <li><a href="/about/">О проекте</a></li>
                        <li><a href="/results/">Итоги выборов</a></li>
                        <li><a href="https://forum.nabludatel.org/">Форум</a></li>
                        <li><a href="/contacts/">Контакты</a></li>
                        <li><a href="/help/">Помочь проекту</a></li>
                    </ul>
                </div><!-- /#menu --> 

                <!-- #mainContent -->
                <div id="mainContent" class="span-24 last">

                    <!-- #sidebar -->
                    <div id="sidebar"  class="span-6">
                        <h3 class="side_menu_header">Для наблюдателей</h3>
                        <div class="side_section">
                            <ul id="left_menu_ul">
                                <li><a href="/who_is/">Кто такой наблюдатель</a></li>
                                <li><a href="/chto-dolzhen-delat-nablyudatel/">Что должен делать наблюдатель</a></li>
                                <li><a href="/nablyudateli-na-vyborah/">Зачем наблюдать за выборами</a></li>
                                <li><a href="/kak-stat-nablyudatelem/">Как стать наблюдателем</a></li>
                                <li><a href="/nezavisimyie-nablyudateli/">Почему именно наш проект?</a></li>
                                <li><a href="/results1/">Куда идут результаты</a></li>
                                <li><a href="/stat-nablyudatelem/">Записаться в наблюдатели</a></li>
                                <li><a href="/obuchenie-nablyudatelej/">Библиотека наблюдателя</a></li>
                            </ul>
                        </div>

                        <div>
                            <a href="http://money.yandex.ru/" class="ya_logo" target="_blank">
                                <img width="51" height="22" border="0" src="{{ MEDIA_URL }}images/ya_m.jpg" style="margin-left: 5px;"/>
                            </a>
                            <h3 class="side_menu_header">Сбор средств</h3>
                        </div>
                        <div class="side_section" id="donations">
                            <!-- Виджет сбора пожертвований -->
                            <form style="margin: 0pt; padding: 0pt;" action="https://money.yandex.ru/charity.xml" method="post">
                                <input type="hidden" name="to" value="410011201436323"/>
                                <input type="hidden" name="Company" value=""/>
                                <input type="hidden" name="CompanyLink" value=""/>
    
                                <div class="clearfix">
                                    <input type="text" id="CompanySum" name="CompanySum" value="100" size="4"/>
                                    <input type="submit" value="Отправить"/>
                                </div>
                            </form>

                            <div id="donationsInfo">
                                рублей на счет <a href="http://yaudit.org/yaudit/410011201436323">410011201436323</a>
                            </div>

                        </div>

                        <div class="clear"></div>

                        {% block side_block %}{% endblock %}

                    </div><!-- /#sidebar -->

                    <!-- #content -->
                    <div id="content"  class="prepend-1 span-17 last">
                        {% block content %}{% endblock %}
                    </div><!-- /#content -->        
                </div><!-- /#mainContent -->

                {% block page_bottom %}{% endblock %}

                <!-- #footer -->
                <div id="footer" class="span-24 last">
                    <hr />
                    <p class="span-7">&copy; Гражданин Наблюдатель, 2010-2011 </p>
                    <div class="prepend-11 span-6 last" id="search">
                        <!-- Виджет сбора пожертвований -->
                        <div id="cse-search-form" style="width: 100%;">Loading</div>
                        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
                        <script type="text/javascript"> 
                            google.load('search', '1', {language : 'ru'});
                            google.setOnLoadCallback(function() {
                                var customSearchControl = new google.search.CustomSearchControl(
                                '007084942556480968662:efy46j0mxa8');

                                customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                                var options = new google.search.DrawOptions();
                                options.enableSearchboxOnly("http://nabludatel.org/search_results");
                                customSearchControl.draw('cse-search-form', options);
                            }, true);
                        </script>
                    </div>
                </div><!-- /#footer -->

            </div><!-- /.container -->
            <div id="footerBtm"></div>
        </div><!-- /#bgContainer -->
    </div> <!-- /#stripeTails -->

    {% render_block "js" %}

    <!-- Yandex.Metrika counter -->
    <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter11820652 = new Ya.Metrika({id:11820652, enableAll: true, webvisor:true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div><img src="//mc.yandex.ru/watch/11820652" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
