{% extends "base.html" %}

{% block content %}

<h2>Я хочу стать наблюдателем</h2>

<form action="{% url signup %}" method="post">
    <table>
        {% csrf_token %}
        <tr>
            <th><label for="id_full_name">Как вас зовут (ФИО): <span class="red">*</span></label></th>
            <td>{{ form.full_name }}</td>
        </tr>
        <tr>
            <th><label for="id_telephone">Ваш контактный телефон: <span class="red">*</span></label></th>
            <td>{{ form.telephone }}</td>
        </tr>
        <tr>
            <th><label for="id_location">Место жительства: <span class="red">*</span></label></th>
            <td>{{ form.location }}</td>
        </tr>
        <tr>
            <th><label for="id_in_moscow">В Москве: <span class="red">*</span></label></th>
            <td>{{ form.in_moscow }}</td>
        </tr>
        <tr>
            <th><label for="id_email">Ваш адрес электронной почты: <span class="red">*</span></label></th>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <th><label for="id_info">Дополнительно сообщаю:</label></th>
            <td>{{ form.info }}</td>
        </tr>

        <!--tr>
            <th><label for="id_captcha_1">Captcha:</label></th>
            <td>{{ form.captcha }}</td>
        </tr-->

    </table>
    <input type="submit" value="Отправить"/>
</form>

{% endblock %}
