{% extends "base.html" %}

{% block content %}

<h2>Я хочу стать наблюдателем</h2>

Вы можете быть наблюдателем в том месте, где проживаете, независимо от Вашей прописки/регистрации.

<form action="{% url signup %}" method="post">
    <table>
        {% csrf_token %}
        <tr>
            <th><label for="id_full_name">Как вас зовут (ФИО полностью): <span class="red">*</span></label></th>
            <td>
                {{ form.full_name }}
                {% if form.full_name.errors %}<div style="color:red;">Введите свое имя</div>{% endif %}
            </td>
        </tr>
        <tr>
            <th><label for="id_telephone">Ваш контактный телефон: <span class="red">*</span></label></th>
            <td>
                {{ form.telephone }}
                {% if form.telephone.errors %}<div style="color:red;">Введите ваш телефон</div>{% endif %}
            </td>
        </tr>

        <tr>
            <th>
                Ваш регион: <span class="red">*</span>
            </th>
            <td>
                <input type="radio" name="in_moscow" value="yes" id="id_in_moscow" checked="true"/>
                <label for="id_in_moscow">Московская область</label>
                
                <input type="radio" name="in_moscow" value="no" id="id_not_in_moscow" />
                <label for="id_not_in_moscow">Другой регион</label>
            </td>

        </tr>

        <tr>
            <th><label for="id_location">Место жительства: <span class="red">*</span></label></th>
            <td>
                {{ form.location }}
                <div style="font-size: small;">Для жителей Москвы - район проживания, для жителей Московской области - район и населенный пункт.</div>

                {% if form.location.errors %}<div style="color:red;">Укажите район в котором проживаете</div>{% endif %}
            </td>
        </tr>
        
        <tr>
            <th><label for="id_email">Ваш адрес электронной почты: <span class="red">*</span></label></th>
            <td>
                {{ form.email }}
                {% if form.email.errors %}<div style="color:red;">Email указан неверно</div>{% endif %}
            </td>
            
        </tr>
        <tr>
            <th><label for="id_info">Дополнительно сообщаю:</label></th>
            <td>{{ form.info }}</td>
        </tr>

        <!--tr>
            <th><label for="id_captcha_1">Captcha:</label></th>
            <td>{{ form.captcha }}</td>
        </tr-->

    </table>
    <input type="submit" value="Отправить"/>
</form>

{% endblock %}
